body {
    font-family: Arial, sans-serif;
    text-align: center;
}

  h1 {
      margin-bottom: 30px;
  }


  div {
      position: relative;
      width: 120px;
      margin: -100px auto;
  }


  #diez_de_diamantes {
      z-index: 1;
  }

  #sota_de_diamantes {
      z-index: 2;
  }

  #reina_de_diamantes {
      z-index: 3;
  }

  #rey_de_diamantes {
      z-index: 4;
  }

  #as_de_diamantes {
      z-index: 5;
      /* la carta superior */
  }